.efect-css-duotone {
    position: relative;
    width: auto;
    height: 15rem;
    display: flex;
    justify-content: center;
    background-image: url('/resurse/imagini/piramida.jpg');
    background-size: cover;
    transition: filter 0.5s ease; // Tranzitie pentru filter

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        mix-blend-mode: screen;
        transition: background-color 0.5s ease; // Tranzitie pentru schimbarea culorilor
    }

    $c1: rgba(255, 0, 0, 0.5);
    $c2: rgba(0, 0, 255, 0.5);

    &::before {
        background-color: $c1;
    }

    &::after {
        background-color: $c2;
    }

    &:hover {
        filter: grayscale(100%);
    }
}