.meniu {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5em;

    ul {
        display: none;
        position: absolute;
        list-style-type: none;
        align-items: center;
    }

    li {
        position: relative;
        cursor: pointer;
        padding: 1em 0;
        width: 100%;

        &:hover > ul {
            display: flex;
            flex-direction: column;
            border: 1px white;
            margin: 1em 0 0 0;
            padding: 0;
            width: 100%;
        }

        ul {
            width: 100%;
            display: none;
            position: absolute;
            /* ca sa il scot din container pe alt layer, sa nu imi deplaseze continutul cand devine vizibil */
            width: 15%;
            background-color: #2E3949;
            z-index: 100;
        }

        ul li {
            letter-spacing: 0px;
            text-align: center;
            padding: 1em 0;

            &:hover {
                background-color: #f0f0f0;

                a {
                    background-color: #f0f0f0;
                    color: black;
                }
            }
        }
    }

    .underline::before {
        content: "";
        position: absolute;
        right: 0;
        z-index: 3;
        bottom: 0;
        width: 0;
        height: 4px;
        background: linear-gradient(to left, white, #2E3949);
        transition: width 0.5s ease-in, left 0.5s ease-in;
    }

    .underline:hover::before {
        width: 100%;
        right: 0;
        left: auto;
    }

    /* ul.tranz {
        transform: scaleY(.1);
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    &:hover + ul.tranz {
        transform: scaleY(1);
    } */
}

.header-container {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.hamburger {
    cursor: pointer;
    display: none;
    margin: 0;
    padding: 0;

    .bar {
        display: block;
        margin: 4px;
        width: 22px;
        height: 3px;
        background-color: #fff;
    }

    &.extend {
        display: block;
        height: auto;
    }
}

#acasa-mediu {
    display: none;
}

#ch-menu {
    display: none;
  }
#hamburger {
    display: none;
}