<footer>
  <p id="css-printare" >Acesta este un proiect școlar!<button id="ok_cookies">Accepta cookies.</button></p>

  <p class="intro" style="color: rgb(203, 196, 196); text-decoration: underline;">Va multumim pentru vizita!</p>
  <address>
    <span>Adresa: <i><a
          href="https://www.google.com/maps/dir//Strada+Academiei+14,+Bucure%C8%99ti+010014/@44.968222,25.2360916,9z/data=!4m8!4m7!1m0!1m5!1m1!1s0x40b1ff472f372acd:0xb7e6e278a72d3fb4!2m2!1d26.0996322!2d44.4351979?entry=ttu"
          target="_blank">Strada Academiei nr. 14, București 010014</a></i></span> <br>
  </address>
  <i class="fa-regular fa-envelope fa-fade"></i> <a href="mailto:refresh@contact.ro"> Mail ReFresh</a>
  <i class="fa-solid fa-phone fa-fade"></i> <a href="tel:+40725015445"> Telefon</a>
  <i class="fa-brands fa-whatsapp fa-fade"></i><a href="https://wa.me/0725015445">WhatsApp</a>
  <p><small style=" color: rgb(203, 196, 196);">Copyright &copy; <time datetime="2024-03-04">4 martie
        2024</time></small></p>
  

</footer>