<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title> ReFresh </title>
        <meta name="keywords" content="Produse Alimentare, Fructe, Legume, Proaspat, Produse vegane, Produse lactate">
        <meta name="description" content="Fa-ti cumparaturile de pe cel mai fresh magazin online de produse alimentare. Aici gasesti tot ceea ce ai nevoie pentru a-ti prepara mesele tale favorite. Livrare in 24 ore la usa ta. ">
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css">
        <%- include("../fragmente/head.ejs");  %> 
</head>
<body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <section id="retete">
            <div class="plimbare-orizontala"><p>Rețete</p></div>
            <section>
              <h3>Tacos cu cartof dulce si avocado</h3>
              <div class="video-tacos">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uH4FHbeg-Ps?si=QmrJe9SEAhAek8Hq"
                  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                  web-share" allowfullscreen></iframe><br>
                <div class="taburi-iframe">
                  <a href="https://www.youtube.com/embed/uH4FHbeg-Ps?si=QmrJe9SEAhAek8Hq" target="ifr-video">Mergi catre
                    video</a>
                </div>
              </div>
              <br>
              <p><b>Ingrediente:</b></p>
              <ul>
                <li>150 g Faina(de porumb)</li>
                <li>Sare</li>
                <li>300 ml Apa </li>
                <li>160 g Faina alba de grau</li>
                <li>500 g Cartofi dulci</li>
                <li>Ulei</li>
                <li>Piper</li>
                <li>Chilli fulgi</li>
                <li>Oregano</li>
                <li>41 g Ceapa rosie</li>
                <li>1 bucata Ardei capia</li>
                <li>1 bucata Morcov</li>
                <li>6 bucati Rosii cherry</li>
                <li>1 bucata Avocado</li>
                <li>0,5 bucati Ardei capia</li>
                <li>1 bucata Ardei gras verde</li>
                <li>0,6 bucati Zeama de lamaie</li>
                <li>1 legatura Patrunjel</li>
                <li>Lamaie</li>
              </ul>
              <br>
              <p><b>Mod de preparare</b></p>
              <span>Intr-un bol, pune faina de porumb, sare si apa. Amesteca si apoi adauga faina.
                Incorporeaza cu mana pana se obtine un aluat. Lasa sa se odihneasca 20-30 de minute.
                Dupa cele 20-30 de minute, portioneaza aluatul in 10 parti egale si, din fiecare parte formeaza 10 bile.
                Intinde fiecare bila intre 2 folii alimentare, formand astfel tortilla.
                Pune o tigaie antiaderenta pe foc, desprinde fiecare foaie de tortilla si coace-o pe ambele parti.
                Spala, curata, taie cubulete cartoful dulce si pune-l intr-un bol. Adauga ulei, sare, piper, fulgi de chili,
                oregano si amesteca.
                Pregateste o tava tapetata cu hartie de copt si adauga cartofii cubulete, condimentati.
                Da tava la cuptor, in cuptorul preincalzit, la 180 °C, timp de 25 -30 minute.
                Pune o tigaie pe foc, adauga ulei, ceapa rosie si 1 ardei kapia.
                Amesteca, asezoneaza cu sare, piper si fulgi de chili.
                Adauga morcovul ras si rosiile cherry taiate marunt, amesteca si mai lasa pe foc timp de 2, 3 minute.
                Pentru salsa, taie cubulete avocado si pune-l intr-un bol.
                Adauga jumatate de ardei kapia taiat cubulete, ceapa rosie taiata marunt, ardeiul verde taiat cubulete,
                sare,
                piper, fulgi de chili, zeama de la ½ lamaie si amesteca.
                La final se presara o patrunjelul tocat marunt.
                Pe tortilla pregatita se adauga cartof dulce copt, 2 lingurite de umplutura de ceapa, ardei, morcov si rosii
                cherry si 2 lingurite de salsa. </span><br><br>
              <span><b>Pofta buna!</b></span><br>
              <span>Fa <a href="fisier.pdf" download><i>click</i></a> pentru a descarca reteta.</span>
      
              <h3>Pui manastiresc</h3>
              <div class="video-pui">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/E0hkLMCHpDg?si=jvrhLCedCB6ttZTN"
                  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                    clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="taburi-iframe">
                  <a href="https://www.youtube.com/embed/E0hkLMCHpDg?si=jvrhLCedCB6ttZTN" target="ifr-video">Mergi catre
                    video</a>
                </div>
              </div>
              <br>
              <p><b>Ingrediente:</b></p>
              <ul>
                <li>500 g ciuperci</li>
                <li>un pui</li>
                <li>300 g afumatura </li>
                <li>2 oua</li>
                <li>2 cepe tocate marunt</li>
                <li>400 g smantana</li>
                <li>4 lingurite de ulei</li>
                <li>1/2 legatura patrunjel</li>
                <li>1/2 legatura marar</li>
                <li>1 lingura boia dulce</li>
                <li>1 lingura cimbru</li>
                <li>sare</li>
                <li>piper</li>
              </ul>
              <br>
              <p><b>Mod de preparare</b></p><br>
              <span>Rețeta de pui mănăstiresc e simplă. Se rumenesc toate ingredientele și se fierbe carnea pe jumătate.
                Se transferă totul într-o tavă pentru cuptor iar deasupra se toarnă sosul de smântână. Puiul nu trebuie să
                stea
                prea mult la cuptor și doar cât se rumeneasca ușor, iar sosul să se îngroașe puțîn, cât să fie gătite ouăle.
                Totuși,
                aveți grijă că sosul să rămână lichid în interior, sub pelicula rumenită. Serviți acest pui mănăstiresc cu
                mămăliguță caldă sau cu cartofi ori orez. Este demențial! Pentru o altă rețetă delicioasă cu pui, încercați
                și
                supă de pui cu tăieței de casă.
                O să va amintească de copilărie!</span><br><br>
              <span><b>Pofta buna!</b></span><br>
              <span>Fa <a href="fisier.pdf" download><i>click</i></a> pentru a descărca rețeta.</span>
            </section>
          </section>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>